<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<users>
    <user>
        <curso>lei</curso>
        <email_username>pgoaa</email_username>
        <pw>123</pw>
        <username>pedro</username>
    </user>
    <user>
        <curso>patio</curso>
        <pw>123</pw>
        <username>ramos</username>
    </user>
    <user>
        <curso>ley</curso>
        <email_username>leal123</email_username>
        <pw>123</pw>
        <username>leal</username>
    </user>
</users>
