<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<users>
    <user>
        <curso>lei</curso>
        <pw>123</pw>
        <username>pedro</username>
    </user>
    <user>
        <curso>lei</curso>
        <pw>123</pw>
        <username>ramos</username>
    </user>
    <user>
        <curso>lei</curso>
        <email_username>leal@iscte.com</email_username>
        <fb_username>leal@iscte.pt</fb_username>
        <pw>123</pw>
        <username>leal</username>
    </user>
    <user>
        <curso>lei</curso>
        <email_username>toni@iscte.pt</email_username>
        <fb_username></fb_username>
        <pw>asd</pw>
        <username>antonio</username>
    </user>
</users>
